@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

html {
  font-size: 10px;
  background: url(https://78.media.tumblr.com/32d61fb653c2333bf9f1c9f6a8028e19/tumblr_ncxgfayqEu1r24e6ho1_1280.jpg) bottom center;
  background-size:auto;
  background-position: right;
}
body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.title {
  font-family: courier new;
  font-size: 100px;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  margin: 0;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all 0.3s;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}
